@import './bootstrap';
@import './helpers';
@import './responsive';
@import './variables';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  height: 80px;
  background-color: cornflowerblue;
}

.main {
  height: calc(100% - 80px);
}

